#task{
    margin-top: 20px;
}

body{
    font-size: 11px;
    font-family: Verdana;
}

table{
    width: 457px;
    border-collapse: collapse;
	border-spacing: 0;
}

table, thead, tbody, p{
    margin: 0px;
    padding: 0px;
}

thead{
    color: #F9FDF1;
    text-align: left;
    background: #b4ddb4; /* Old browsers */
    background: -moz-linear-gradient(top,  #b4ddb4 0%, #83c783 0%, #52b152 2%, #52b152 2%, #2daf2d 15%, #1cad00 60%, #057000 96%, #002400 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(0%,#83c783), color-stop(2%,#52b152), color-stop(2%,#52b152), color-stop(15%,#2daf2d), color-stop(60%,#1cad00), color-stop(96%,#057000), color-stop(100%,#002400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b4ddb4 0%,#83c783 0%,#52b152 2%,#52b152 2%,#2daf2d 15%,#1cad00 60%,#057000 96%,#002400 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b4ddb4 0%,#83c783 0%,#52b152 2%,#52b152 2%,#2daf2d 15%,#1cad00 60%,#057000 96%,#002400 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b4ddb4 0%,#83c783 0%,#52b152 2%,#52b152 2%,#2daf2d 15%,#1cad00 60%,#057000 96%,#002400 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b4ddb4 0%,#83c783 0%,#52b152 2%,#52b152 2%,#2daf2d 15%,#1cad00 60%,#057000 96%,#002400 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
}

th, td{
    padding: 5px;
    border-style: solid;
    border-color: #DAD9CA;
    border-width: 0px 1px;
}

.normal-text{
    font-weight: normal;
}

tr:nth-child(2n) {
    background-color: #ECECD8;
}

tr:last-child td{
    border-bottom-width: 1px;
}

.flag{
    width: 22px;
}

.flagged{
    display: inline;
    margin-left: 5px;
}

th:nth-child(1) {
    width: 127px;
}

th:nth-child(2) {
    width: 98px;
}

th:nth-child(3) {
    width: 115px;
}